.main_categoryPic .main_category_artist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.main_categoryPic .main_categoryPic_artist_item {
  width: 85%;
  background-image: url("../assets/image-data/img/107.jpg");
  background-position: center;
  background-size: cover;
  height: 70px;
  border: solid 1px #fff;
  border-radius: 30px;
  margin: 4px 0 4px 16px;
  text-align: center;
  color: #fff;
  background-color: #fcefef;
  z-index: 1;
  line-height: 50px;
  font-size: 20px;
  position: relative;
}
.spanToResults {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.showPlayedResults {
  color: rgb(255, 255, 255);
  font-size: 30px;
  width: 50%;
  background-color: transparent;
  font-family: "Gilroy-Bold";
  position: absolute;
  left: 20%;
  top: 20%;
}
.main_categoryPic .main_categoryPic_artist_item:hover {
  background-color: #fff;
  -webkit-filter: contrast(0.6);
  filter: contrast(0.6);
}

.main_categoryPic .main_categoryPic_artist_item:active {
  border: solid 1px #ffbca2;
  background-color: #ffbca2;
}

.main_categoryPic .main_categoryPic_artist_item:last-child {
  margin-bottom: 80px;
}

@media (min-width: 440px) {
  .main_categoryPic .main_category_artist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main_categoryPic .main_categoryPic_artist_item {
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 512px) {
  .main_categoryPic .main_category_title {
    font-size: 36px;
    line-height: 28px;
    margin-left: 62px;
    margin-bottom: 31px;
  }
  .main_categoryPic .main_categoryPic_artist_item {
    height: 70px;
  }
  .main_categoryPic .main_categoryPic_artist_item:last-child {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .main_categoryPic .main_category_title {
    font-size: 36px;
    line-height: 28px;
    margin-left: 62px;
    margin-bottom: 51px;
  }
  .main_categoryPic .main_categoryPic_artist_item:last-child {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .main_categoryPic .main_category_artist {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main_categoryPic .main_categoryPic_artist_item {
    width: 90%;
    height: 95px;
    margin: 8px 0px 8px 20px;
  }
}

.playedPicture {
  position: relative;
  filter: brightness(0.5);
}

.playedPicture:hover .spanToResults {
  opacity: 1;
}
