a {
  color: #fff;
}

.wrapperQuestion {
  background-color: #000;
  min-height: 100%;
  transition: all 0.3s;
  width: 100%;
  font-family: "Gilroy-normal";
  color: #fff;
  /* display: -webkit-box;
    display: -ms-flexbox; */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapperQuestion .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 337px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 0 30px 15px;
}

.wrapperQuestion .header .close-icon {
  background-image: url("../assets/svg/close.svg");
  height: 14px;
  width: 14px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.wrapperQuestion .header #play-time {
  width: 266px;
  height: 3px;
  overflow: hidden;
  -webkit-appearance: none;
  background: #a4a4a4;
}

.wrapperQuestion .header #play-time::-webkit-slider-thumb {
  background: #ffbca2;
  border-radius: 50%;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: -300px 0 0 300px #ffbca2;
  box-shadow: -300px 0 0 300px #ffbca2;
}

.wrapperQuestion .header #play-time::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #ffbca2;
  height: 15px;
}

.wrapperQuestion .main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 auto;
}

.wrapperQuestion .main-Questionuestion {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
}

.wrapperQuestion .main-picture {
  max-width: 328px;
  width: 100%;
  height: calc((1vh + 1vw) * 35);
  border-radius: 10px;
  margin: 15px auto;
  background-size: cover;
  transition: all 0.3s;
}

.wrapperQuestion .all-answers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 10px;
  padding-top: 5px;
}

.wrapperQuestion .answer {
  width: 160px;
  height: calc((1vh + 1vw) * 3);
  border: solid 1px #fff;
  border-radius: 56px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.wrapperQuestion .answer:hover {
  background-color: #fff;
  color: #000;
}

.wrapperQuestion .answer:active {
  background-color: #ffbca2;
  border: solid 1px #ffbca2;
  color: #000;
}

.wrapperQuestion .footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* margin-bottom: 10px; */
  z-index: 2;
}

.wrapperQuestion .logoRs {
  height: 23px;
  z-index: 1;
}

.wrapperQuestion .footer-text {
  font-family: "Gilroy-medium";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.62766px;
}

@media (max-height: 590px) {
  .wrapperQuestion .main-picture {
    height: calc((1vh + 1vw) * 20);
    max-width: 280px;
  }
  .wrapperQuestion .answer {
    /* height: calc((1vh + 1vw) * 3); */
    line-height: 35px;
  }
}

@media (min-width: 100px) {
  .wrapperQuestion .main-picture {
    max-width: 250px;
    width: 100%;
    height: calc((1vh + 1vw) * 30);
    border-radius: 20px;
    margin: 20px auto;
  }
  .wrapperQuestion .all-answers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 10px;
  }
  .wrapperQuestion .answer {
    width: 120px;
    height: calc((1vh + 1vw) * 4);
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-height: 590px) {
  .wrapperQuestion .main-picture {
    height: calc((1vh + 1vw) * 20);
    max-width: 280px;
  }
  .wrapperQuestion .answer {
    height: calc((1vh + 1vw) * 3);
    line-height: 35px;
  }
}

@media (min-width: 480px) {
  .wrapperQuestion .main-picture {
    max-width: 450px;
    width: 100%;
    height: calc((1vh + 1vw) * 25);
    border-radius: 20px;
    margin: 20px auto;
  }
  .wrapperQuestion .all-answers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 10px;
  }
  .wrapperQuestion .answer {
    height: calc((1vh + 1vw) * 3);
    width: 220px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .wrapperQuestion .header {
    padding: 15px 0 15px 15px;
    width: 671px;
  }
  .wrapperQuestion .header .close-icon {
    height: 18px;
    width: 18px;
  }
  .wrapperQuestion .header #play-time {
    width: 580px;
    height: 4px;
  }
  .wrapperQuestion .header #play-time::-webkit-slider-thumb {
    -webkit-box-shadow: -580px 0 0 580px #ffbca2;
    box-shadow: -580px 0 0 580px #ffbca2;
  }
  .wrapperQuestion .main-Questionuestion {
    text-align: start;
    font-size: 22px;
    line-height: 28px;
  }
  .wrapperQuestion .main-picture {
    max-width: 665px;
    width: 100%;
    height: calc((1vh + 1vw) * 22);
    border-radius: 20px;
    margin: 20px auto;
  }
  .wrapperQuestion .all-answers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 10px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 10px;
  }
  .wrapperQuestion .answer {
    width: 323px;
    font-size: 16px;
    height: calc((1vh + 1vw) * 3);
    line-height: 18px;
  }
  .wrapperQuestion .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 33px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-bottom: 10px; */
    z-index: 2;
  }
  .wrapperQuestion .logoRs {
    height: 23px;
    z-index: 1;
  }
  .wrapperQuestion .footer-text {
    font-family: "Gilroy-medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.62766px;
  }
}

@media (min-width: 1024px) {
  .wrapperQuestion .header {
    width: 826px;
    padding: 15px 0 10px 20px;
    margin: 0 auto;
  }
  .wrapperQuestion .header .close-icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .wrapperQuestion .header #play-time {
    width: 690px;
    height: 4px;
  }
  .wrapperQuestion .header #play-time::-webkit-slider-thumb {
    -webkit-box-shadow: -715px 0 0 715px #ffbca2;
    box-shadow: -715px 0 0 715px #ffbca2;
  }
  .wrapperQuestion .header .current-time {
    font-size: 24px;
    line-height: 28px;
  }
  .wrapperQuestion .main-Questionuestion {
    text-align: start;
    font-weight: bold;
    font-size: 28px;
  }
  .wrapperQuestion .main-picture {
    height: calc((1vh + 1vw) * 20);
    width: 750px;
    border-radius: 20px;
    margin: 20px auto;
  }
  .wrapperQuestion .all-answers {
    margin-bottom: 10px;
    grid-row-gap: 12px;
    grid-column-gap: 5px;
  }
  .wrapperQuestion .answer {
    width: 377px;
    font-size: 16px;
    height: calc((1vh + 1vw) * 2.5);
    line-height: 18px;
  }
  .wrapperQuestion .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 33px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
  }
  .wrapperQuestion .logoRs {
    height: 23px;
    z-index: 1;
  }
  .wrapperQuestion .footer-text {
    font-family: "Gilroy-medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.62766px;
  }
}

@media (min-width: 1440px) {
  .wrapperQuestion .header #play-time {
    width: 715px;
  }
  .wrapperQuestion .main-Questionuestion {
    text-align: start;
    font-weight: bold;
    font-size: 28px;
  }
  .wrapperQuestion .main-picture {
    height: calc((1vh + 1vw) * 20);
    width: 825px;
    border-radius: 20px;
    margin: 20px auto;
  }
  .wrapperQuestion .all-answers {
    margin-bottom: 10px;
    grid-row-gap: 12px;
    grid-column-gap: 5px;
  }
  .wrapperQuestion .answer {
    width: 400px;
    height: calc((1vh + 1vw) * 2.5);
    font-size: 22px;
    line-height: 22px;
  }
}
