@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@font-face {
    font-family: 'Gilroy-bold';
    src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy-normal';
    src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-medium';
    src: url('./assets/fonts/Gilroy-Medium.ttf');
}
a{
    color: #fff;
}

.wrapperA{
    background-color: #000;
    min-height: 100%;
    width: 100%;
    font-family: 'Gilroy-normal';
    color: #fff;
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        justify-content: space-between;
        width: 337px;
        margin: 0 auto;
        align-items: center;
        padding: 17px 0 30px 0px;
        .close-icon {
            background-image: url('./assets/svg/close.svg');
            height: 14px;
            width: 14px;
            cursor: pointer;
            background-repeat: no-repeat;
        }
        #play-time {
            width: 266px;
            height: 3px;
            overflow: hidden; 
            -webkit-appearance: none;
            background: #A4A4A4;
        }
        #play-time::-webkit-slider-thumb{
            background: #FFBCA2;
            border-radius: 50%;
            -webkit-appearance: none;
            width:15px;
            height: 15px;
            box-shadow: -300px 0 0 300px #FFBCA2;
        }
        #play-time::-webkit-slider-runnable-track{
            -webkit-appearance: none;
            color: #FFBCA2;
            height: 15px;
        }
    }
    .main{
        flex: 1 1 auto;
        margin: 0 auto;
    }
    .main-question{
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        // padding-bottom: 25px;
    }
    .all-answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        margin-bottom: 10px;
        justify-items: center;
        align-items: center;
        grid-row-gap: 10px;
    }
    .answer{
        width: 155px;
        height: 163px;
        border: solid 1px #fff;
        border-radius: 20px;
        background-image: url('./assets/image-data/img/0.jpg');
        background-position: center;
        background-size: cover;
    }
    .answer:hover{
        background-color: #fff;
        color: #000;
    }
    .answer:active{
        background-color: #FFBCA2;
        border: solid 1px #FFBCA2;
        color: #000;
    }
    .footer_block{
        display: flex;
        height: 33px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        z-index: 2;
    }
    .logoRs{
        height: 23px;
        z-index: 1;
    }
    
    .footer-text{
        font-family: 'Gilroy-medium';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.62766px;
    }
}


@media (min-width:768px) {
    .wrapperA{
        .header{
            padding: 20px 0 50px 0px;
            width: 671px;
            .close-icon {
                height: 18px;
                width: 18px;
            }
            #play-time {
                width: 580px;
                height: 4px;
            }
            #play-time::-webkit-slider-thumb{
                box-shadow: -580px 0 0 580px #FFBCA2;
            }
        }
        .main-question{
            text-align: start;
            font-size: 22px;
            line-height: 28px;
            // padding-bottom: 25px;
        }
        .all-answers {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            margin-bottom: 10px;
            justify-items: center;
            align-items: center;
            grid-gap: 20px;
        }
        .answer{
            width: 320px;
            height: 307px;
            font-size: 16px;
            line-height: 18px;
        }
        .footer_block{
            display: flex;
            height: 33px;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            z-index: 2;
        }
        .logoRs{
            height: 23px;
            z-index: 1;
        }
        
        .footer-text{
            font-family: 'Gilroy-medium';
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.62766px;
        }
    }
}

@media (min-width:1024px) {
    .wrapperA{
        .header{
            width: 826px;
            padding: 25px 0 65px 0px;
            margin: 0 auto;
            .close-icon{
                width: 20px;
                height: 20px;
                background-size: 20px 20px;
            }
            #play-time {
                width: 690px;
                height: 4px;
            }
            #play-time::-webkit-slider-thumb{
                box-shadow: -715px 0 0 715px #FFBCA2;
            }
            .current-time{
                font-size: 24px;
                line-height: 28px;
            }
        }
        .main-question{
            text-align: start;
            font-weight: bold;
            font-size: 28px;
        }
        .all-answers {
            margin-bottom: 10px;
        }
        .answer{
            width: 377px;
            font-size: 16px;
            line-height: 18px;
        }
        .footer_block{
            display: flex;
            height: 33px;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            z-index: 2;
        }
        .logoRs{
            height: 23px;
            z-index: 1;
        }
        
        .footer-text{
            font-family: 'Gilroy-medium';
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.62766px;
        }
    }
}

@media (min-width:1440px) {
    .wrapperA{
        .header{
            #play-time {
                width: 715px;
            }
        }
        .main-question{
            text-align: start;
            font-weight: bold;
            font-size: 28px;
            padding-bottom: 20px;
        }
        .all-answers {
            margin-bottom: 10px;
        }
        .answer{
            width: 400px;
            height: 280px;
            font-size: 22px;
            line-height: 22px;
        }
    }
}




